<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - General_Quarters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <img src="~/content/images/war-ship.png" class="img ml-5" width="5%" alt="My image" />
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">General Quarters</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetInt32("UserId") == null)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIndex">Login</a>
                        </li>
                        }
                        @if (@Context.Session.GetInt32("UserId") != null)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GQ" asp-action="Main">Lobby</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Home" asp-action="logout" method="post">
                                <button class="btn btn-link text-dark">
                                    Logout [@Context.Session.GetString("UserName")]
                                </button>
                            </form>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <img src="~/content/images/war-ship.png" class="img mr-5 icon-flipped" width="5%" alt="My image" />
        </nav>
    </header>
    @* <div class="container"> *@
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - General Quarters - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/displayBoard.js"></script>
    <script src="~/js/placePieces.js"></script>
    <script src="~/js/boardPosition.js"></script>
    <script src="~/js/attack.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
