<div class="PlacePieces col-12 bg-light border rounded shadow p-0 mt-5">
    <h3 class="text-center my-2">Place Pieces</h3>
    <div class="col-12 text-center">
        <img src="~/Content/Images/Carrier.png" alt="">
        <div class="row justify-content-around m-2">
            <select name="CARow" id="CARow">
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
                <option value="5">E</option>
                <option value="6">F</option>
                <option value="7">G</option>
                <option value="8">H</option>
                <option value="9">I</option>
                <option value="10">J</option>
            </select>
            <select name="CACol" id="CACol">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="CAAlign" id="CAAlign">
                <option value="H">Horozontal</option>
                <option value="V">Vertical</option>
            </select>
        </div>
        <img src="~/Content/Images/Battleship.png" alt="">
        <div class="row justify-content-around m-2">
            <select name="BARow" id="BARow">
                <option value="2">B</option>
                <option value="1">A</option>
                <option value="3">C</option>
                <option value="4">D</option>
                <option value="5">E</option>
                <option value="6">F</option>
                <option value="7">G</option>
                <option value="8">H</option>
                <option value="9">I</option>
                <option value="10">J</option>
            </select>
            <select name="BACol" id="BACol">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="BAAlign" id="BAAlign">
                <option value="H">Horozontal</option>
                <option value="V">Vertical</option>
            </select>
        </div>
        <img src="~/Content/Images/Sub.png" alt="">
        <div class="row justify-content-around m-2">
            <select name="SURow" id="SURow">
                <option value="3">C</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="4">D</option>
                <option value="5">E</option>
                <option value="6">F</option>
                <option value="7">G</option>
                <option value="8">H</option>
                <option value="9">I</option>
                <option value="10">J</option>
            </select>
            <select name="SUCol" id="SUCol">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="SUAlign" id="SUAlign">
                <option value="H">Horozontal</option>
                <option value="V">Vertical</option>
            </select>
        </div>
        <img src="~/Content/Images/Cruiser.png" alt="">
        <div class="row justify-content-around m-2">
            <select name="CRRow" id="CRRow">
                <option value="4">D</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="5">E</option>
                <option value="6">F</option>
                <option value="7">G</option>
                <option value="8">H</option>
                <option value="9">I</option>
                <option value="10">J</option>
            </select>
            <select name="CRCol" id="CRCol">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="CRAlign" id="CRAlign">
                <option value="H">Horozontal</option>
                <option value="V">Vertical</option>
            </select>
        </div>
        <img src="~/Content/Images/destroyer.png" alt="">
        <div class="row justify-content-around m-2">
            <select name="DERow" id="DERow">
                <option value="5">E</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
                <option value="6">F</option>
                <option value="7">G</option>
                <option value="8">H</option>
                <option value="9">I</option>
                <option value="10">J</option>
            </select>
            <select name="DECol" id="DECol">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="DEAlign" id="DEAlign">
                <option value="H">Horozontal</option>
                <option value="V">Vertical</option>
            </select>
        </div>
        <input type="button" id="Places" class="btn-primary form-control m-2" value="Place" />
        <input type="button" id="Start" class="btn-danger form-control m-2 d-none" value="Start Game" />


    </div>
</div>