@{
    ViewData["Title"] = "General Quarters Home";
    string username = Context.Session.GetString("UserName");
}
<div class="row ">
    <div id="FriendsFrame" class="col">
        <div class="row border border-dark justify-content-center p-1">
            <p>All Users</p>
            <input type="text" name="searchNames" id="searchNames" placeholder="search">
        </div>
        <div class="row border border-dark justify-content-center mt-3 p-1">
            <p>Friends</p>
        </div>
    </div>
    <div id="MapsFrame" class="col">
        <div class="enemyMap row ml-auto ">
            
        </div>
        <div class="friendlyMap row ml-auto mt-3">
            
        </div>
    </div>
    <div id="ChatFrame" class="col">
        @* Placeholder stuff for signal R, can rebuild as needed. Will let you decide how/where to place it Jim*@

        <div class="container mt-5">
            <div class="row justify-content-center">
                <h3>Chat</h3>
                &nbsp;
                </div>
            <div class="row mb-3">
                <div class="col-12 d-none">
                    <input disabled id="userInput" class="no-outline no-no-outline bg-white" value="@username"/>
                </div>
            </div>
            <div class="row overflow-auto border p-2" style="height: 200px;">
                <div class="col-12 ml-1">
                    <h6 id="messagesList"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea placeholder="Enter a message..." id="messageInput" cols="50" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <input type="button" id="sendButton" value="Send Message" class="form-control btn-primary"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr/>
                </div>
            </div>
        </div>
        <div class="row align-content-start">
            <img id="Carrier" src="~/Content/Images/Carrier.png" alt="">
        </div>
    </div>
</div>
@* Scripts for Signal R *@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>