@{
    ViewData["Title"] = "General Quarters Home";
}
<div class="row">
    <div class="col-2">
        <div class="row border border-dark justify-content-center p-1">
            <p>All Users</p>
            <input type="text" name="searchNames" id="searchNames" placeholder="search">
        </div>
        <div class="row border border-dark justify-content-center mt-3 p-1">
            <p>Friends</p>
        </div>
    </div>
    <div class="col-6">
        <div class="row border border-dark"></div>
        <div class="row border border-dark mt-5"></div>

    </div>
    <div class="col-4">

    </div>
</div>