@{
    ViewData["Title"] = "General Quarters Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div id="board"></div>
        </div>
    </div>
</div>