@model Game

@{
    string username = Context.Session.GetString("UserName");
}

<div class="row">
    @* <div id="FriendsFrame" class="col">
        <div class="row border border-dark justify-content-center p-1">
            <p>All Users</p>
            <input type="text" name="searchNames" id="searchNames" placeholder="search">
        </div>
        <div class="row border border-dark justify-content-center mt-3 p-1">
            <p>Friends</p>
        </div>
    </div> *@
    <div class="col p-0">
        <partial name="_GameOutput" model="@Model.GameId">
        <partial name="_PlacePieces">
    </div>
    <div id="MapsFrame" class=" p-0">
        <div class="enemyMap row m-auto" id="enemyMap"></div>
        <div class="friendlyMap row m-auto mt-3" id="friendlyMap"></div>
    </div>
    <div class="col p-0">
        <partial name="_Chat" model="@Model.GameId">
    </div>
</div>
<audio id="explosion" src="~/content/audio/explosion.mp3"></audio>
<audio id="splash" src="~/content/audio/splash.mp3" ></audio>
<audio id="Final" src="~/content/audio/finale-explosion.mp3" ></audio>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
