@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="container">
        @* <img src="~/images/war-ship.png" class="img ml-5 d-inline" width="20%" alt="My image" /> *@
    <form asp-controller="Home" asp-action="Register" method="post" class="form-transparent">
    <h1 class="text-center">Please Register</h1>
    <div class="col-md-5  bg-light border mx-auto rounded shadow p-5">

        <div class="form-group">
            @* <label asp-for="FirstName"></label> *@
            <span class="text-danger myOwnClass" asp-validation-for="FirstName"></span>
            <input class="form-control not-trans" asp-for="FirstName" placeholder="First Name">
        </div>

        <div class="form-group">
            @* <label asp-for="LastName"></label> *@
            <span class="text-danger" asp-validation-for="LastName"></span>
            <input class="form-control" asp-for="LastName" placeholder="Last Name">
        </div>

        <div class="form-group">
            @* <label asp-for="Email"></label> *@
            <span class="text-danger" asp-validation-for="Email"></span>
            <input class="form-control" asp-for="Email" placeholder="Email Address">
        </div>

        <div class="form-group">
            @* <label asp-for="Password"></label> *@
            <span class="text-danger" asp-validation-for="Password"></span>
            <input class="form-control" asp-for="Password" placeholder="Password">
        </div>

        <div class="form-group">
            @* <label asp-for="ConfirmPassword"></label> *@
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
        </div>

        <button class="btn btn-primary btn-lg form-control">Register</button>
        <div class="d-flex justify-content-center mt-3 mb-0">
        <a class="mx-auto text-center" href="LogIndex">Already registered?</a>
        </div>
    </div>
    </form>
        @* <img src="~/images/war-ship.png" class="img mr-5 icon-flipped" width="20%" alt="My image" /> *@
    @* <div class="d-flex justify-content-center mt-3 mb-0">
        &copy;2020 - Login and Registration 
    </div> *@

</div>
