/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
  padding: 0px;
  margin: 0px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.board-row div {
  width: 50px;
  height: 49px;
  display: inline-block;
  margin-bottom: -5px;
  /* margin-bottom: -4px; */
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.mt-10,
.my-10 {
  margin-top: 8rem !important;
}
.form-transparent{
  opacity: 96%;
}
#chat{
  min-height: 400px;
  max-width: 380px;
  padding: 5px;
  overflow: auto;
}
#chat p{
  padding: 0px;
  margin: 0px;
}
.sent{
  display: inline-flex;
  float: right;
}
#FriendsFrame{
  max-width: 200px;
}
#ChatFrame{
  max-width: 350px;
}
#MapsFrame{
  max-width: 600px;
  padding-bottom: 5px;
}
.no-outline:focus {
  outline: none;
}
.no-no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}

.rotated{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.enemyMap{
  background-image: url("../Content/Images/RadarScope.png");
  width: 550px;
  height: 550px;
}
.friendlyMap{
  background-image: url("../Content/Images/FriendlyGrid.png");
  width: 550px;
  height: 550px;
}

.Ship{
  background: darkslategray;
}
.Hit{
  background-image: url("../Content/Images/ExplosionSM.gif");
  width: 48px !important;

}
.Miss{
  background-image: url("../Content/Images/Splash-Sm.gif");
  width: 48px !important;

}
.dis{
  pointer-events: none;
}